@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

html {
  /*user-select: none;
  -webkit-user-select: none;*/
}

body {
  margin: 0;
  padding: 0;
}

#pdfWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

#homeWrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 40vh;
  position: fixed;
  bottom: 20vh;
}

.homeButton {
  font-size: 4vw;
  width: 20vw;
  margin: 0 5vw;
}

#aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#guessButton {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
}

.newspaperPdf {
  width: 100vw;
  height: 95vh;
  position: fixed;
  top: 5vh;
  left: 0;
}

#guessWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#guessBox {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Romanesco", cursive;
  position: relative;
  z-index: 8;
}

@keyframes revealBody {
  0% {
    clip-path: inset(0 50%);
  }
  100% {
    clip-path: inset(0 0);
  }
}

@keyframes unfurlLeft {
  0% {
    left: calc(45% - 2.8rem);
  }
  100% {
    left: -2.8rem;
  }
}

@keyframes unfurlRight {
  0% {
    right: calc(45% - 2.8rem);
  }
  100% {
    right: -2.8rem;
  }
}

#guessContent {
  background-image: url("../img/scroll_body.png");
  background-position: center;
  background-size: auto 100%;
  z-index: 8;
  padding: 2rem 4rem;
}

#scrollLeft {
  height: 140%;
  width: auto;
  position: absolute;
  left: -2.8rem;
  top: -20%;
  z-index: 9;
  pointer-events: none;
}

#scrollRight {
  height: 140%;
  width: auto;
  position: absolute;
  right: -2.8rem;
  top: -20%;
  z-index: 9;
  pointer-events: none;
}

#guessInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  font-size: 6rem;
  z-index: 10;
}

.guessInput {
  margin: 1rem 2rem;
}

.guessInputValue {
  font-size: 6rem;
  font-family: "Romanesco", cursive;
  text-align: center;
}

#guessButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-size: 4rem;
  z-index: 10;
}

#cancelGuessButton {
  margin: 0 2rem;
  font-size: 8rem;
  font-family: "Romanesco", cursive;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

#submitGuessButton {
  margin: 0 2rem;
  font-size: 8rem;
  font-family: "Romanesco", cursive;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

#cancelGuessButton:focus {
  outline: 3px solid black;
}

#submitGuessButton:focus {
  outline: 3px solid black;
}

#scoreWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg_main_no_icon.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#animationWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#animationCanvas {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  width: 100vw;
  height: 100vh;
}

#boyAnimation {
  width: 28rem;
  margin: -2rem -6rem;
  aspect-ratio: 16 / 9;
  pointer-events: none;
}

@keyframes rideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(40rem);
  }
}
